body {
    font-family:  'Poppins', sans-serif !important;
    visibility: hidden;
    overflow: hidden;
}

::-webkit-scrollbar {
    display: none;
}

.section {
    padding-top: 0% !important;
}

#maintext{
    position: absolute;
    width: 70%;
    margin: auto;
    margin-left: 250px;
}

#vaccinesvg {
    position: absolute;
    height: 80%;
    width: 220px;
    top: 40px;
}

.content {
    width: calc(100% - 50px);
    left: 0;
    height: 100%;
    background: red;
}

.content > div {
    height: 100%;
    background: blanchedalmond;
    width:fit-content;

}

#radarchartjs {
    margin-left: 50px;
   
}
