body {
    font-family:  'Poppins', sans-serif !important;
    visibility: hidden;
    overflow: hidden;
}

::-webkit-scrollbar {
    display: none;
}

#maintext{
    position: absolute;
    width: 70%;
    margin: auto;
    margin-left: 250px;
}

#vaccinesvg {
    position: absolute;
    height: 80%;
    width: 220px;
    top: 40px;
}