body {
    font-family:  'Poppins', sans-serif !important;
    visibility: hidden;
    overflow: hidden;
    color: #333333;
}

::-webkit-scrollbar {
    display: none;
}

.section {
    padding-top: 0% !important;
    height:fit-content  !important;

}



/* #introsection {
   
} */

#maintext{
    width: 70%;
    margin-top: 50px;
    margin-bottom: 200px;
    margin-left: 250px;
}

#vaccinesvg {
    position: absolute;
    height: 80%;
    width: 220px;
    top: 40px;
}



#endpage {
    display: flex;
    justify-content:flex-start;
    flex-direction: row;
    left: 0;
    height: 400px;
    width: calc(100% - 50px);
}

#endpage > div{
    padding: 20px;
}

.eheader{
    text-align: center;
    font-style: italic;
    font-weight:bolder;
    font-size: 20px;
}

#source {
    width:  400px;
    height: 100%;
}

#team {
    height: 100%;
    width: 400px;
}

#tools {
    height: 100%;
    width: 400px;
}



.etext {
    font-size: 15px;
}


#githubicon {
    height: 17px;
    width: 17px;
}

#logoshool {
    height: 120px;
    width: 120px;
    margin-left: 100px; 
}

#repoinfo {
    font-size: 16px;
}

.pack {  
    width: calc(100% - 50px) !important;
    left: 0;
    text-align: center;
}

.pack > .paragrah {
    display: inline;
    height: 100%;
    width: 100%;
    font-size: 14.5px;
    padding: 6px;
    text-align: left;
}

.pack > div:not(.paragrah){
    float: left;
    display: inline;
}


.paragrah > p {
    margin-left: 20px;
}



#geomapjs {
    margin-left: 15px;
}


.sectiontitle {
    
    font-weight: bolder;
}