body {
    font-family:  'Poppins', sans-serif !important;
    visibility: hidden;
    
}

/* .section {
    position: absolute;
} */

#maintext{
    position: absolute;
    width: 70%;
    margin: auto;
    margin-left: 250px;
}

#vaccinesvg {
    position: absolute;
    height: 80%;
    width: 220px;
    top: 40px;
}